.grid {
  display: none;
  width: 100%;
  height: 100%;
}

.grid header {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

.grid header div:first-child {
  font-size: 32px;
  font-weight: 400;
  color: #595959;
}

.grid header div:last-child {
  font-size: 18px;
  color: #595959;
  font-weight: lighter;
}

.grid .leftSize {
  float: left;
  margin: 30px;
}

.grid .rightSize {
  margin: 30px;
  float: right;
}

/* .grid .leftSize #infoFirstStageL, #infoSecondStageL {
  position: absolute;
  top: 110px;
  left: 88px;
  user-select: none;
}
#infoSecondStageL {
  top: 144px;
  left: 278px;
}
.grid .rightSize #infoFirstStageR, #infoSecondStageR {
  position: absolute;
  top: 110px;
  right: 88px;
  user-select: none;
}
#infoSecondStageR {
  top: 144px;
  right: 278px;
} */
.grid .leftOne, .grid .leftTwo, .grid .leftThree, .grid .leftFour {
  float: left;
}

.grid .rightOne, .grid .rightTwo, .grid .rightThree, .grid .rightFour {
  float: right;
}

.grid .leftTwo .gridLeftTwo {
  margin: 30px 0 80px 30px;
}

.grid .rightTwo .gridRightTwo {
  margin: 30px 30px 80px 0;
}

.grid .rightThree .gridRightThree {
  margin: 90px 30px 200px 0;
}

.grid .leftThree .gridLeftThree {
  margin: 90px 0 200px 30px;
}

.grid .rightFour .gridRightFour {
  margin: 210px 30px 440px 0;
}

.grid .leftFour .gridLeftFour {
  margin: 210px 0 440px 30px;
}

.grid .rightFive .gridRightFive {
  position: absolute;
  left: 760px;
  top: 540px;
}

.grid .leftFive .gridLeftFive {
  position: absolute;
  top: 660px;
  left: 760px;
}

.grid .leftSix .gridLeftSix {
  position: absolute;
  top: 1010px;
  left: 760px;
}

.grid .rightSix .gridRightSix {
  position: absolute;
  top: 1140px;
  left: 760px;
}

.grid .final {
  color: #595959;
  position: absolute;
  top: 598px;
  left: 805px;
  font-size: 30px;
}

.gridSquads::before {}

.grid .gridSquads {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px lightgray;
  margin-bottom: 20px;
  color: #595959;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
