html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.menu {
  position: relative;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px lightgray;
  display: block;
  margin: 150px auto;
  transition: 1s all;
}

.menu .header {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 24px;
  color: #595959;
  border-radius: 15px 15px 0 0;
  vertical-align: middle;
  line-height: 60px;
}

.menu .settings {
  width: 80%;
  margin: 0 auto;
}

.menu .settings span {
  color: #595959;
  font-weight: lighter;
  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
}

.menu .settings select {
  outline: none;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px #C2C6CE;
  box-shadow: 0 0 1px 1px #C2C6CE;
  padding: 0 15px 0 15px;
  margin: 10px 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-size: 14px;
  color: #495366;
}

.menu .settings .loseGrid {
  margin-left: 15px;
}

.menu .settings .selectLoseGrid sup {
  margin-left: 5px;
  font-size: 10px;
  font-weight: lighter;
}

.menu .settings select[name="mode"] {
  width: 240px;
}

.menu .settings textarea {
  width: 95%;
  height: 100px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 1px 1px lightgray;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-weight: lighter;
  padding: 10px 10px;
  color: #595959;
}

.menu button[name="button"] {
  width: 100%;
  height: 45px;
  background-color: #5995ED;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
}

.menu button[name="button"]:hover, .saveResult:hover, .resultPoint:hover {
  cursor: pointer;
}

.loading {
  display: none;
  width: 400px;
  margin: 380px auto;
  transition: 1s all;
}

.loading div {
  font-size: 40px;
  font-weight: 400;
  color: #595959;
  text-align: center;
}

.loading span:last-child {
  font-size: 20px;
}

.menu .errorTeams, .menu .errorMode {
  position: absolute;
  top: 120px;
  left: 228px;
  width: auto;
  padding-right: 15px;
  height: 27.5px;
  border: 1px solid transparent;
  border-radius: .4rem;
  background-color: #f8d7da;
  font-weight: lighter;
  display: block;
  transition: 0.3s all;
}

.menu .errorMode {
  top: 215px;
  left: 320px;
}

.menu .errorTeams::before, .menu .errorMode::before {
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #f8d7da;
  content: " ";
  transform: rotate(90deg);
  position: relative;
  top: 4px;
  left: -20px;
}

.menu .errorTeams span, .menu .errorMode span {
  user-select: none;
  position: relative;
  color: #721c24;
  font-size: 12px;
  top: -34px;
  left: 6px;
}

.modal_div {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -190px;
  display: none;
  opacity: 0;
  z-index: 5;
}

.modal_div .modal_close {
  width: 22px;
  height: 22px;
  background-image: url('../img/close.svg');
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  display: block;
}

.modal_div .content .block {
  margin: 15px 0 0 20px;
  position: relative;
  float: left;
}

.modal_div .content .block .gridSquads {
  width: 230px;
}

.modal_div .content .modeModal {
  color: #595959;
  font-size: 12px;
  position: absolute;
  top: 180px;
  left: 10px;
}

.modal_div .headerText {
  color: #595959;
  font-size: 18px;
  font-weight: lighter;
  margin: 8px 0 0 85px;
}

.modal_div .content .saveResult {
  width: 80px;
  height: 30px;
  background-color: #5995ED;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  right: 7px;
  font-size: 10px;
  font-weight: 400;
}

.modal_div .content .blockPoints {
  float: right;
  width: 125px;
  margin-right: 10px;
  margin-top: 15px;
}

.modal_div .content .blockPoints .resultPoint {
  width: 55px;
  float: left;
  outline: none;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-right: 5px;
  height: 30px;
  font-size: 12px;
  color: #595959;
}

.modal_div .content .blockPoints .resultPoint:nth-child(2n) {
  margin-right: 0px;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}
